In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0, 5, (10,5)))
df.to_csv("../foo.csv")

pd.read_csv("../foo.csv")

   Unnamed: 0  0  1  2  3  4
0           0  3  0  0  4  3
1           1  0  0  2  4  0
2           2  3  1  2  1  1
3           3  4  3  1  0  2
4           4  3  3  3  2  4
5           5  1  2  3  0  2
6           6  0  2  3  4  0
7           7  4  2  2  3  0
8           8  3  2  3  2  4
9           9  0  2  2  4  4

Parquet

In [3]:
df.to_parquet("../foo.parquet")
pd.read_parquet("../foo.parquet")

   0  1  2  3  4
0  3  0  0  4  3
1  0  0  2  4  0
2  3  1  2  1  1
3  4  3  1  0  2
4  3  3  3  2  4
5  1  2  3  0  2
6  0  2  3  4  0
7  4  2  2  3  0
8  3  2  3  2  4
9  0  2  2  4  4

Excel

In [4]:
df.to_excel("../foo.xlsx", sheet_name='Sheet1')
pd.read_excel("../foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])

   Unnamed: 0  0  1  2  3  4
0           0  3  0  0  4  3
1           1  0  0  2  4  0
2           2  3  1  2  1  1
3           3  4  3  1  0  2
4           4  3  3  3  2  4
5           5  1  2  3  0  2
6           6  0  2  3  4  0
7           7  4  2  2  3  0
8           8  3  2  3  2  4
9           9  0  2  2  4  4