In [1]:
import numpy as np
import pandas as pd
dates = pd.date_range("20230101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [2]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

                   A         B         C         D    E
2023-01-01 -0.834477 -0.648768 -0.728033  0.161830  1.0
2023-01-02 -0.713073  1.913293  1.521643 -0.193567  1.0
2023-01-03 -1.364282  0.219394  1.091501  0.975680  NaN
2023-01-04 -0.025132 -1.109492  0.221915 -0.586291  NaN

In [3]:
df1.dropna(how="any")

                   A         B         C         D    E
2023-01-01 -0.834477 -0.648768 -0.728033  0.161830  1.0
2023-01-02 -0.713073  1.913293  1.521643 -0.193567  1.0

In [4]:
df1.fillna(value=5)

                   A         B         C         D    E
2023-01-01 -0.834477 -0.648768 -0.728033  0.161830  1.0
2023-01-02 -0.713073  1.913293  1.521643 -0.193567  1.0
2023-01-03 -1.364282  0.219394  1.091501  0.975680  5.0
2023-01-04 -0.025132 -1.109492  0.221915 -0.586291  5.0

In [5]:
pd.isna(df1)

                A      B      C      D      E
2023-01-01  False  False  False  False  False
2023-01-02  False  False  False  False  False
2023-01-03  False  False  False  False   True
2023-01-04  False  False  False  False   True