In [1]:
import numpy as np
import pandas as pd
dates = pd.date_range("20230101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [2]:
df["A"]

2023-01-01   -2.067607
2023-01-02   -0.456074
2023-01-03   -0.512775
2023-01-04   -1.543163
2023-01-05   -0.660516
2023-01-06   -1.776246
Freq: D, Name: A, dtype: float64

In [3]:
df[0:3]

                   A         B         C         D
2023-01-01 -2.067607 -1.016927 -0.066124 -0.924089
2023-01-02 -0.456074  0.295132  0.823085  0.821712
2023-01-03 -0.512775 -0.207140  0.400800  0.071623

In [5]:
df["20230102":"20230104"]

                   A         B         C         D
2023-01-02 -0.456074  0.295132  0.823085  0.821712
2023-01-03 -0.512775 -0.207140  0.400800  0.071623
2023-01-04 -1.543163  0.813099  2.273638  0.870630

In [6]:
df.loc[dates[0]]

A   -2.067607
B   -1.016927
C   -0.066124
D   -0.924089
Name: 2023-01-01 00:00:00, dtype: float64

In [7]:
df.loc[:, ["A", "B"]]

                   A         B
2023-01-01 -2.067607 -1.016927
2023-01-02 -0.456074  0.295132
2023-01-03 -0.512775 -0.207140
2023-01-04 -1.543163  0.813099
2023-01-05 -0.660516  0.624407
2023-01-06 -1.776246 -0.252166

In [8]:
df.loc["20230102":"20230104", ["A", "B"]]

                   A         B
2023-01-02 -0.456074  0.295132
2023-01-03 -0.512775 -0.207140
2023-01-04 -1.543163  0.813099

In [9]:
df.loc[dates[0], "A"]

np.float64(-2.067607260239237)

In [10]:
df.at[dates[0], "A"]

np.float64(-2.067607260239237)

In [11]:
df.iloc[3]

A   -1.543163
B    0.813099
C    2.273638
D    0.870630
Name: 2023-01-04 00:00:00, dtype: float64

In [12]:
df.iloc[3:5, 0:2]

                   A         B
2023-01-04 -1.543163  0.813099
2023-01-05 -0.660516  0.624407

In [13]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2023-01-02 -0.456074  0.823085
2023-01-03 -0.512775  0.400800
2023-01-05 -0.660516  1.036315

In [14]:
df.iloc[1:3, :]

                   A         B         C         D
2023-01-02 -0.456074  0.295132  0.823085  0.821712
2023-01-03 -0.512775 -0.207140  0.400800  0.071623

In [15]:
df.iloc[:, 1:3]

                   B         C
2023-01-01 -1.016927 -0.066124
2023-01-02  0.295132  0.823085
2023-01-03 -0.207140  0.400800
2023-01-04  0.813099  2.273638
2023-01-05  0.624407  1.036315
2023-01-06 -0.252166 -0.745101

In [16]:
df.iloc[1, 1]

np.float64(0.295132299581083)

In [17]:
df.iat[1, 1]

np.float64(0.295132299581083)