In [19]:
import numpy as np
import pandas as pd
dates = pd.date_range("20230101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [20]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20230102", periods=6))
s1

2023-01-02    1
2023-01-03    2
2023-01-04    3
2023-01-05    4
2023-01-06    5
2023-01-07    6
Freq: D, dtype: int64

In [21]:
df["F"] = s1

In [22]:
df.at[dates[0], "A"] = 0
df

                   A         B         C         D    F
2023-01-01  0.000000 -0.617875 -1.037004 -0.693522  NaN
2023-01-02  0.446728 -0.488832 -0.401372 -0.628283  1.0
2023-01-03 -0.844704  0.850280  0.098988 -0.156780  2.0
2023-01-04 -0.568868 -0.633300  0.732187  0.256118  3.0
2023-01-05  0.541526 -0.617404  0.628293 -1.259881  4.0
2023-01-06  1.707203 -1.219914  1.040199  0.706421  5.0

In [23]:
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2023-01-01  0.000000  0.000000 -1.037004 -0.693522  NaN
2023-01-02  0.446728 -0.488832 -0.401372 -0.628283  1.0
2023-01-03 -0.844704  0.850280  0.098988 -0.156780  2.0
2023-01-04 -0.568868 -0.633300  0.732187  0.256118  3.0
2023-01-05  0.541526 -0.617404  0.628293 -1.259881  4.0
2023-01-06  1.707203 -1.219914  1.040199  0.706421  5.0

In [24]:
df.loc[:, "D"] = np.array([5] * len(df))
df

                   A         B         C    D    F
2023-01-01  0.000000  0.000000 -1.037004  5.0  NaN
2023-01-02  0.446728 -0.488832 -0.401372  5.0  1.0
2023-01-03 -0.844704  0.850280  0.098988  5.0  2.0
2023-01-04 -0.568868 -0.633300  0.732187  5.0  3.0
2023-01-05  0.541526 -0.617404  0.628293  5.0  4.0
2023-01-06  1.707203 -1.219914  1.040199  5.0  5.0

In [25]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C    D    F
2023-01-01  0.000000  0.000000 -1.037004 -5.0  NaN
2023-01-02 -0.446728 -0.488832 -0.401372 -5.0 -1.0
2023-01-03 -0.844704 -0.850280 -0.098988 -5.0 -2.0
2023-01-04 -0.568868 -0.633300 -0.732187 -5.0 -3.0
2023-01-05 -0.541526 -0.617404 -0.628293 -5.0 -4.0
2023-01-06 -1.707203 -1.219914 -1.040199 -5.0 -5.0