In [3]:
import numpy as np
import pandas as pd
dates = pd.date_range("20230101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [4]:
df.head()

                   A         B         C         D
2023-01-01 -0.231764  1.707691 -0.507879 -1.189060
2023-01-02  1.824102  0.315085 -0.595968  0.158139
2023-01-03  0.765256  0.249014 -0.393417 -0.222359
2023-01-04 -1.366227 -0.433178  0.171334  0.261532
2023-01-05  0.161373 -0.933607  0.432212  0.273789

In [5]:
df.tail(3)

                   A         B         C         D
2023-01-04 -1.366227 -0.433178  0.171334  0.261532
2023-01-05  0.161373 -0.933607  0.432212  0.273789
2023-01-06  0.718786  0.192192  1.294965  0.719155

In [6]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [8]:
df.to_numpy()

array([[-0.23176434,  1.70769097, -0.50787873, -1.18905961],
       [ 1.82410168,  0.31508465, -0.595968  ,  0.158139  ],
       [ 0.76525605,  0.24901419, -0.39341709, -0.22235926],
       [-1.36622744, -0.43317771,  0.17133363,  0.26153175],
       [ 0.16137309, -0.93360677,  0.43221199,  0.27378918],
       [ 0.71878601,  0.19219234,  1.29496489,  0.71915507]])

In [9]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.311921  0.182866  0.066874  0.000199
std    1.076307  0.891410  0.725832  0.655570
min   -1.366227 -0.933607 -0.595968 -1.189060
25%   -0.133480 -0.276835 -0.479263 -0.127235
50%    0.440080  0.220603 -0.111042  0.209835
75%    0.753639  0.298567  0.366992  0.270725
max    1.824102  1.707691  1.294965  0.719155

In [10]:
df.T

   2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  2023-01-06
A   -0.231764    1.824102    0.765256   -1.366227    0.161373    0.718786
B    1.707691    0.315085    0.249014   -0.433178   -0.933607    0.192192
C   -0.507879   -0.595968   -0.393417    0.171334    0.432212    1.294965
D   -1.189060    0.158139   -0.222359    0.261532    0.273789    0.719155

In [11]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2023-01-01 -1.189060 -0.507879  1.707691 -0.231764
2023-01-02  0.158139 -0.595968  0.315085  1.824102
2023-01-03 -0.222359 -0.393417  0.249014  0.765256
2023-01-04  0.261532  0.171334 -0.433178 -1.366227
2023-01-05  0.273789  0.432212 -0.933607  0.161373
2023-01-06  0.719155  1.294965  0.192192  0.718786

In [12]:
df.sort_values(by="B")

                   A         B         C         D
2023-01-05  0.161373 -0.933607  0.432212  0.273789
2023-01-04 -1.366227 -0.433178  0.171334  0.261532
2023-01-06  0.718786  0.192192  1.294965  0.719155
2023-01-03  0.765256  0.249014 -0.393417 -0.222359
2023-01-02  1.824102  0.315085 -0.595968  0.158139
2023-01-01 -0.231764  1.707691 -0.507879 -1.189060